/*!
 * YUAN-Bootstrap3-MAX for v3.4.1
 * Copyright 2019 YuanYuBo.
 */

.yuan-mb-0{
    margin-bottom: 0!important;
}
.yuan-m-0{
    margin: 0!important;
}
.yuan-bg-light{
    background-color: #eee!important;
}
.yuan-bg-red{
    background-color: #c20c0c!important;
}
.yuan-bg-dark{
    background-color: #242424!important;
}
.yuan-color-white{
    color: #fff!important;
}
.yuan-opacity-50{
    opacity: .5;
}
.yuan-opacity-90{
    opacity: .9;
}
.yuan-opacity-50-hover-80:hover{
    opacity: .8;
}
.yuan-shadow-s1{
    box-shadow: 0 -1px 8px #242424;
}